
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; 
}


#quizForm {
    max-width: 600px;
    padding: 20px;
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #ff6b6b; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ddd; 
}

input[type="number"], select {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #555; 
    border-radius: 5px;
    background-color: #444; 
    color: #eee; 
}

button[type="submit"] {
    background-color: #ffcc29; 
    color: #222; 
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff6b6b; ;
}

#numQuestions{
    width: 360px;
}