
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #222; 
    color: #eee; 
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


#quizForm {
    max-width: 600px;
    padding: 20px;
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); 
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #ff6b6b; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ddd; 
}

input[type="number"], 
select {
    width: calc(100% - 30px); 
    padding: 15px;
    font-size: 18px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444; 
    color: #eee;
}

button[type="submit"] {
    background-color: #ffcc29; 
    color: #222; 
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff6b6b; 
}


.question-choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.choice {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 12px;
    background-color: #333; 
    border: 1px solid #555; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    color: #eee; 
}

label:hover {
    background-color: #444;
}

input[type="radio"]:checked + label {
    background-color: #ffcc29; 
    color: #222;
    border-color: #ffcc29; 
}

.sub-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sub-btn button {
    background-color: #ffcc29; 
    color: #222;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sub-btn button:hover {
    background-color: #ff6b6b;; 
}

#correct-answer{
    color: rgb(100, 222, 144);
    font-size: 28px;
}

#incorrect-answer{
    color: rgb(232, 87, 87);
    font-size: 28px;
}